<h1>Book Catalog</h1>

<%= form_tag search_books_path, method: :get do %>
  <%= text_field_tag :q, params[:q], placeholder: "Search books..." %>
  <%= submit_tag "Search" %>
<% end %>

<div class="books">
  <% @books.each do |book| %>
    <div class="book">
      <h2><%= link_to book.title, book %></h2>
      <p>Author: <%= book.author.name %></p>
      <p>Rating: <%= book.rating %></p>
      <p>Year: <%= book.publication_year %></p>
    </div>
  <% end %>
</div>

<%= paginate @books %>